<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micromall.repository.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.micromall.entity.Article">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="FullResultMap" type="com.micromall.entity.Article" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, title, create_time
    </sql>
    <sql id="Full_Column_List">
        id, type, title, content, create_time
    </sql>

    <sql id="Where_Clause">
        <if test="criterias != null and criterias.valid">
            <where>
                <foreach collection="criterias" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" suffix=")" prefixOverrides="and">
                            <foreach collection="criteria.criterions" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
    </sql>

    <insert id="insert" parameterType="com.micromall.entity.Article">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into article (id, type, title,
        create_time, content)
        values (#{id,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.micromall.entity.Article">
        update article
        <set>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from article
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByWhereClause" parameterType="com.micromall.utils.Condition">
        delete from article
        <include refid="Where_Clause"/>
    </delete>

    <select id="selectByPrimaryKey" resultMap="FullResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Full_Column_List"/>
        from article
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectOneByWhereClause" resultMap="FullResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Full_Column_List"/>
        from article
        <include refid="Where_Clause"/>
    </select>

    <select id="selectMultiByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from article
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="selectPageByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from article
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="countByWhereClause" parameterType="com.micromall.utils.Condition" resultType="java.lang.Integer">
        select count(*)
        <include refid="Base_Column_List"/>
        from article
        <include refid="Where_Clause"/>
    </select>

</mapper>