<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micromall.repository.CartGoodsMapper">
    <resultMap id="BaseResultMap" type="com.micromall.repository.entity.CartGoods">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="buy_number" property="buyNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Column_Sql">
        id, uid, goods_id, buy_number, create_time
    </sql>

    <sql id="Where_Clause">
        <if test="criterias != null and valid">
            <where>
                <foreach collection="criterias" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" suffix=")" prefixOverrides="and">
                            <foreach collection="criteria.criterions" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
    </sql>

    <insert id="insert" parameterType="com.micromall.repository.entity.CartGoods" useGeneratedKeys="true" keyProperty="id">
        insert into cart_goods (<include refid="Column_Sql"/>)
        values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},#{buyNumber,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteByWhereClause" parameterType="com.micromall.utils.Condition">
        delete from cart_goods
        <include refid="Where_Clause"/>
    </delete>

    <resultMap id="selectCartGoodsResultMap" type="com.micromall.repository.entity.CartGoods">
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="origin_price" property="originPrice" jdbcType="DECIMAL"/>
        <result column="buy_number" property="buyNumber" jdbcType="INTEGER"/>
        <result column="inventory" property="inventory" jdbcType="INTEGER"/>
        <result column="product_params" property="productParams" jdbcType="LONGVARCHAR"/>
        <result column="invalid" property="invalid" jdbcType="CHAR"/>

    </resultMap>

    <select id="selectCartGoods" resultMap="selectCartGoodsResultMap" parameterType="java.lang.Integer">
        <![CDATA[
            SELECT
                t2.id AS goods_id,
                t2.title,
                t2.main_image AS image,
                t2.price,
                t2.origin_price,
                t1.buy_number ,
                t2.inventory ,
                t2.product_params ,
                CASE WHEN t2.deleted != '0' OR t2.shelves != '1' OR t2.inventory <= 0
                    THEN '1'
                ELSE '0'
                END AS 'invalid'
            FROM cart_goods t1 RIGHT JOIN goods t2 ON t1.goods_id = t2.id
            WHERE t1.uid = #{uid} ORDER BY t1.id DESC
        ]]>
    </select>

    <!--
    <update id="updateByPrimaryKey" parameterType="com.micromall.repository.entity.CartGoods">
        update cart_goods
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="buyNumber != null">
                buy_number = #{buyNumber,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from cart_goods
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cart_goods
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectOneByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from cart_goods
        <include refid="Where_Clause"/>
    </select>

    <select id="selectMultiByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from cart_goods
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="selectPageByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from cart_goods
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="countByWhereClause" parameterType="com.micromall.utils.Condition" resultType="java.lang.Integer">
        select count(*)
        from cart_goods
        <include refid="Where_Clause"/>
    </select>
    -->

</mapper>