<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micromall.repository.CouponMapper">
    <resultMap id="BaseResultMap" type="com.micromall.repository.entity.Coupon">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="SMALLINT"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
        <result column="expira_time" property="expiraTime" jdbcType="TIMESTAMP"/>
        <result column="used" property="used" jdbcType="CHAR"/>
        <result column="used_time" property="usedTime" jdbcType="TIMESTAMP"/>
        <result column="used_order_no" property="usedOrderNo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, amount, descr, expira_time, used, used_time, used_order_no, create_time
    </sql>

    <sql id="Where_Clause">
        <if test="criterias != null and valid">
            <where>
                <foreach collection="criterias" item="criteria" separator="or">
                    <if test="criteria.valid">
                        <trim prefix="(" suffix=")" prefixOverrides="and">
                            <foreach collection="criteria.criterions" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        and ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        and ${criterion.condition} #{criterion.value}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                    </when>
                                    <when test="criterion.listValue">
                                        and ${criterion.condition}
                                        <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                            #{listItem}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </where>
        </if>
    </sql>
    <insert id="insert" parameterType="com.micromall.repository.entity.Coupon" useGeneratedKeys="true" keyProperty="id">
        insert into coupon (id, uid, amount,
        descr, expira_time, used,
        used_time, used_order_no, create_time
        )
        values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{amount,jdbcType=SMALLINT},
        #{descr,jdbcType=VARCHAR}, #{expiraTime,jdbcType=TIMESTAMP}, #{used,jdbcType=CHAR},
        #{usedTime,jdbcType=TIMESTAMP}, #{usedOrderNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.micromall.repository.entity.Coupon">
        update coupon
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=SMALLINT},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="expiraTime != null">
                expira_time = #{expiraTime,jdbcType=TIMESTAMP},
            </if>
            <if test="used != null">
                used = #{used,jdbcType=CHAR},
            </if>
            <if test="usedTime != null">
                used_time = #{usedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="usedOrderNo != null">
                used_order_no = #{usedOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from coupon
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByWhereClause" parameterType="com.micromall.utils.Condition">
        delete from coupon
        <include refid="Where_Clause"/>
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from coupon
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectOneByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from coupon
        <include refid="Where_Clause"/>
    </select>

    <select id="selectMultiByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from coupon
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="selectPageByWhereClause" resultMap="BaseResultMap" parameterType="com.micromall.utils.Condition">
        select
        <include refid="Base_Column_List"/>
        from coupon
        <include refid="Where_Clause"/>
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="countByWhereClause" parameterType="com.micromall.utils.Condition" resultType="java.lang.Integer">
        select count(*)
        <include refid="Base_Column_List"/>
        from coupon
        <include refid="Where_Clause"/>
    </select>

</mapper>