<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micromall.repository.PaymentNotifyMapper">

    <sql id="all_column">
		id id,
		notify_url notifyUrl,
		content content,
		notify_times notifyTimes,
		status status,
		order_no orderNo,
		notify_type notifyType,
		next_notify_time nextNotifyTime,
		create_time createTime,
		update_time updateTime,
		version version
	</sql>

    <select id="get" parameterType="Long" resultType="com.micromall.repository.entity.PaymentNotify">
        SELECT
        <include refid="all_column"/>
        FROM t_payment_notify_info
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.micromall.repository.entity.PaymentNotify">
        INSERT INTO t_payment_notify_info(
        id,
        notify_url,
        content,
        notify_times,
        status,
        order_no,
        notify_type,
        next_notify_time,
        create_time,
        update_time,
        version
        )
        VALUES(
        #{id,jdbcType=BIGINT},
        #{notifyUrl,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{notifyTimes,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR},
        #{orderNo,jdbcType=VARCHAR},
        #{notifyType,jdbcType=VARCHAR},
        #{nextNotifyTime,jdbcType=TIMESTAMP},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{version,jdbcType=INTEGER}
        )
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            select
            LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.micromall.repository.entity.PaymentNotify">
        UPDATE t_payment_notify_info
        set
        <if test="notifyUrl != null and notifyUrl !=''   ">
            notify_url = #{notifyUrl,jdbcType=VARCHAR} ,
        </if>
        <if test="content != null and content !=''   ">
            content = #{content,jdbcType=VARCHAR} ,
        </if>
        <if test="notifyTimes != null and notifyTimes != 0 ">
            notify_times = #{notifyTimes,jdbcType=INTEGER} ,
        </if>
        <if test="status != null and status !=''   ">
            status = #{status,jdbcType=VARCHAR} ,
        </if>
        <if test="orderNo != null and orderNo !=''   ">
            order_no = #{orderNo,jdbcType=VARCHAR} ,
        </if>
        <if test="notifyType != null and notifyType !=''   ">
            notify_type = #{notifyType,jdbcType=VARCHAR} ,
        </if>
        <if test="nextNotifyTime != null  ">
            next_notify_time = #{nextNotifyTime,jdbcType=TIMESTAMP} ,
        </if>
        <if test="createTime != null  ">
            create_time = #{createTime,jdbcType=TIMESTAMP} ,
        </if>
        <if test="updateTime != null  ">
            update_time = #{updateTime,jdbcType=TIMESTAMP} ,
        </if>

        VERSION = #{version,jdbcType=INTEGER} +1
        WHERE ID = #{id,jdbcType=BIGINT}
        AND VERSION = #{version,jdbcType=INTEGER}
    </update>


    <select id="find" parameterType="java.util.Map" resultType="com.micromall.repository.entity.PaymentNotify">
        SELECT
        <include refid="all_column"/>
        FROM t_payment_notify_info
        WHERE
        1 = 1
        <if test="id != null and id != 0 ">
            AND id = #{id,jdbcType=BIGINT}
        </if>
        <if test="notifyUrl != null and notifyUrl !='' ">
            AND notify_url = #{notifyUrl,jdbcType=VARCHAR}
        </if>
        <if test="content != null and content !='' ">
            AND content = #{content,jdbcType=VARCHAR}
        </if>
        <if test="notifyTimes != null and notifyTimes != 0 ">
            AND notify_times &lt; #{notifyTimes,jdbcType=INTEGER}
        </if>
        <if test="status != null and status !='' ">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="orderNo != null and orderNo !='' ">
            AND order_no = #{orderNo,jdbcType=VARCHAR}
        </if>
        <if test="notifyType != null and notifyType !='' ">
            AND notify_type = #{notifyType,jdbcType=VARCHAR}
        </if>
        <if test="nextNotifyTime != null  ">
            AND next_notify_time &lt;= #{nextNotifyTime,jdbcType=TIMESTAMP}
        </if>
        <if test="version != null and version != 0 ">
            AND version = #{version,jdbcType=INTEGER}
        </if>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy} ${sort}
        </if>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
</mapper> 