<div class="panel-list set-up">
    <div class="section set-up-top">
        <div class="wrapper">
            <a href="{{prefix}}userContent/setUp/setInfo.html">
                基本资料
                <i class="iconfont icon-qianjin right"></i>
            </a>
        </div>
    </div>
    <div class="section set-up-top">
        <div class="wrapper">
            <a href="{{prefix}}userContent/setUp/identity.html">
                身份证认证
                <i class="iconfont icon-qianjin right"></i>
            </a>
        </div>
    </div>
    <!--<div class="section">-->
        <!--<div class="wrapper">-->
            <!--<a href="#/user/upPass">-->
                <!--修改密码-->
                <!--<i class="iconfont icon-qianjin right"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="base-input-lay submit2">
    <button class="submit submit-margin">
        退出登录
    </button>
</div>
