<div class="item">
    <div class="carousel-lay">
        <ul rn-carousel rn-carousel-index="carouselIndex6" rn-carousel-buffered style="height:8.25rem;">
            <li bindonce ng-repeat="slide in detailData.images track by $index">
                <a >
                    <img ng-src="{{slide}}">
                </a>
            </li>
        </ul>
        <div class="carousel-page" rn-carousel-indicators ng-if="detailData.images.length" slides="detailData.images" rn-carousel-index="carouselIndex6"></div>
    </div>
    <div class="item-text">
        <h3 class="item-title">
            {{detailData.title}}
        </h3>
        <div class="item-info">
            <p class=" price">￥{{detailData.price}}</p>
            <p class="height">重量:{{detailData.productParams.weight}}</p>
        </div>
        <div class="item-sale-info">
            <span class="left">快递费:{{detailData.freight}}</span>
            <span class="content">库存{{detailData.inventory}}件</span>
            <span class="right">{{detailData.salesVolume}}下单</span>
        </div>
    </div>
    <div class="item-more">
        <h3 class="item-more-title">商品详情</h3>
        <div class="item-img">
             <img src="{{item}}" ng-repeat="item in detailData.images track by $index" bindonce>
        </div>
    </div>
</div>

<div class="item-fixed">
    <a href="javascript:;" class="share">
       <i class="iconfont icon-fenxiang"></i>
       <span>分享</span>
    </a>
    <a href="javascript:;" class="sc" ng-class="{'active' : detailData.favorite}" ng-click="addFavorite()">
        <i class="iconfont icon-shoucang"></i>
        <span>收藏</span>
    </a>
    <a href="javascript:;" class="add" ng-click="go(true)">加入购物车</a>
    <a href="javascript:;" class="buy" ng-click="go(false)">立即购买</a>
</div>

<div class="back" back>
    <a>
        <i class="iconfont icon-qianjin"></i>
    </a>
</div>

<div class="buy-dialog" ng-class="{'buy-dialog-show' : buyDialog}">
    <div class="buy-content-lay">
        <a href="javascript" class="buy-close" ng-click="buyDialogToggle()">X</a>
        <section class="goods-info">
            <img lazy-img="{{detailData.images[0]}}" class="goods-img">
            <span class="price">￥{{detailData.price}}</span>
            <span>(剩余{{detailData.inventory}}件)</span>
        </section>
        <section class="goods-evt">
            <div class="left">购买数量</div>
            <div class="shop-num">
                <button ng-click="numOption('puls')">+</button>
                <input type="text" ng-model="getData.buyNumber" ng-blur="shopBlurNum()" ng-change="shopChangeNum()">
                <button ng-click="numOption('redu')">-</button>
            </div>
        </section>
        <div class="detail-buy-info base-input-lay">
            <button class="submit submit2" ng-click="placeOrder()" ng-if="getData.cart">加入购物车</button>
            <button class="submit" ng-click="placeOrder()" ng-if="!getData.cart">选好了,立即购买</button>
        </div>
    </div>
</div>
