<!--<div class="banner" id="banner">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<a href="javascript:;">-->
                <!--<img src="resSatic/images/banner.png">-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<div class="new-index">
    <form class="index-search" ng-submit="searchList()">
        <img src="resSatic/images/logo.png" class="index-logo"/>
        <input class="index-search-text" placeholder="搜索全部商品" ng-model="search">
        <!-- <i class="iconzfl icon-sousuo"></i> -->
    </form>
    <div class="carousel-lay index-carousel">
        <ul rn-carousel rn-carousel-index="carouselIndex6" rn-carousel-buffered style="height:8.25rem;">
            <li bindonce ng-repeat="slide in indexConfData.banner track by $index">
                <a >
                    <img ng-src="{{slide.image}}">
                </a>
            </li>
        </ul>
        <div class="carousel-page" rn-carousel-indicators ng-if="indexConfData.banner.length" slides="indexConfData.banner" rn-carousel-index="carouselIndex6"></div>
    </div>

    <div class="hot-type-list">
        <a href="{{prefix}}goodsList.html?categoryId=101">
            <i class="iconfont icon-gushuzaliang"></i>
            <p>大米杂粮</p>
        </a>
        <a href="{{prefix}}goodsList.html?categoryId=102">
            <i class="iconfont icon-difangtechan" style="background: #50aaf6;"></i>
            <p>各地特产</p>
        </a>
        <a href="{{prefix}}goodsList.html?categoryId=103">
            <i class="iconfont icon-shipin" style="background: #e99f57;"></i>
            <p>手作食材</p>
        </a>
        <a href="{{prefix}}goodsList.html?categoryId=104">
            <i class="iconfont icon-shuiguo" style="background: #78c24f;"></i>
            <p>时令水果</p>
        </a>
        <a href="{{prefix}}goodsList.html?categoryId=105">
            <i class="iconfont icon-cuxiao" style="background: #fc5e6d;"></i>
            <p>特价促销</p>
        </a>
    </div>
    <div class="hot-sale">
        <img class="hot-sale-title" src="resSatic/images/new-product.png">
        <div class="hot-sale-main">
            <a href="{{::indexConfData.middle[0].link}}" class="left">
                <img lazy-img="{{indexConfData.middle[0].image}}">
            </a>
            <div class="right">
                <a href="{{::indexConfData.middle[1].link}}" class="hot-top">
                    <img lazy-img="{{indexConfData.middle[1].image}}">
                </a>
                <div class="hot-bottom">
                    <a href="{{::indexConfData.middle[2].link}}">
                        <img lazy-img="{{indexConfData.middle[2].image}}">
                    </a>
                    <a href="{{::indexConfData.middle[3].link}}">
                        <img lazy-img="{{indexConfData.middle[3].image}}">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hot-sale">
        <img class="hot-sale-title" src="resSatic/images/special.png">
        <ul>
            <li ng-repeat="item in indexRecommend track by $index" bindonce>
                <a href="{{prefix}}detail?id={{item.goodsId}}">
                    <img lazy-img="{{item.promotionParams.imgurl}}">
                </a>
            </li>
        </ul>
    </div>

    <div class="index-htlist">
        <img class="hot-sale-title" src="resSatic/images/index-list-bg.jpg">
        <div ng-include="'/view/common/htlist.html'" ng-controller="htlistCrt"></div>
    </div>
</div>
