<form class="address-add" name="addRess" form-validate>
    <div class="form-info-main">
        <div class="info-lay error-right">
            <label class="info-name error-label">
              <span class="info-text-name">
                姓名:
              </span>
              <div class="set-input">
                <input type="text" name="consigneeName" placeholder="姓名" ng-model="addressItemData.consigneeName" validate='{"required":"姓名不能为空"}' required>
              </div>
            </label>
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label">
                <span class="info-text-name">
                    手机:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="请输入手机号码" ng-model="addressItemData.consigneePhone" validate-type="phone" validate='{"required":"用户名不能为空","phone":"手机格式不正确"}' required>
                    <!--<div class="error ng-scope ng-hide" ng-show="addRess.phone.$error.phone &amp;&amp; addRess.formVaild">-->
                        <!--手机格式不正确-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label" ng-click="toggleModal()">
                <span class="info-text-name">
                    所在地区:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="所在地区" ng-model="address.site" validate='{"required":"所在地区不能为空"}' required>
                </div>
                <i class="iconfont icon-qianjin">

                </i>
            </div>
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label">
                <span class="info-text-name">
                    详细地址:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="详细地址" ng-model="addressItemData.detailedAddress" validate='{"required":"详细地址不能为空"}' required>
                </div>
            </div>
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label">
                <span class="info-text-name">
                    编码:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="编码" ng-model="addressItemData.postcode" validate='{"required":"编码不能为空"}' required>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <a href="javascript:;" back>取&nbsp;&nbsp;消</a>
        <a href="javascript:;" class="submit" form-submit="submit()">保&nbsp;&nbsp;存</a>
    </div>
</form>

<modal-dialog class="china-area" show='modalShown' dialog-title='请选择省市县' on-close='logClose()'>
    <div class="select-main">
        <china-area-selector-with-wrapper region="$parent.$parent.address"></china-area-selector-with-wrapper>
    </div>
    <div class="buttons">
        <button type="button" ng-click="toggleModal()">取消</button>
        <button type="button" class="submit" ng-click="siteSelect()">确定</button>
    </div>
</modal-dialog>