<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <context:component-scan base-package="com.micromall" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:annotation-config/>
    <mvc:default-servlet-handler/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>${config.dir}/config-${env.profiles}.properties</value>
            </list>
        </property>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion">
                            <value type="com.fasterxml.jackson.annotation.JsonInclude.Include">ALWAYS</value>
                        </property>
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="com.micromall.web.extend.MethodArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!-- 404请求处理-->
    <bean id="NotFoundHandler" class="com.micromall.web.extend.NotFoundHandler"/>
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="*">NotFoundHandler</prop>
            </props>
        </property>
    </bean>

    <!-- 默认视图解释器 -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

    <mvc:interceptors>
        <!--前端-身份验证拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- admin-->
            <mvc:exclude-mapping path="/admin/**"/>
            <!-- static -->
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/font/**"/>
            <mvc:exclude-mapping path="/less/**"/>
            <mvc:exclude-mapping path="/less/**"/>
            <bean class="com.micromall.web.security.FrontAuthenticationInterceptor">
                <property name="privacys">
                    <list>
                        <value>/images/certificate/*</value>
                    </list>
                </property>
                <property name="excludes">
                    <list>
                        <value>/images/*</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
        <!-- 后台-身份验证拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <mvc:exclude-mapping path="/admin/login.html"/>
            <bean class="com.micromall.web.security.AdminAuthenticationInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 静态资源映射-->
    <mvc:resources mapping="/images/**" location="/images/, file:${upload.root.dir}/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/font/**" location="/font/"/>
    <mvc:resources mapping="/less/**" location="/less/"/>
    <mvc:resources mapping="/less/**" location="/less/"/>
    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/view/**" location="/view/"/>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 1024 * 1024 * 10 >>> 10485760(10M) -->
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <!-- 全局异常处理 -->
    <bean class="com.micromall.web.extend.HandlerExceptionResolver"/>

</beans>