
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>我的分销商</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=no" media="(device-height: 568px)">
    <meta name="renderer" content="webkit">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
    <meta name="description" content="原来国外这么便宜！100%正品保障，抢先下载还能领券哦！" />
    <meta property="qc:admins" content="713116756205656745636" />

    <link rel="shortcut icon" href="{{partner == '折疯了' ? 'img/favicon.ico' : 'img/partner/favicon.ico' }}" type="image/x-icon" />

    <link rel="stylesheet" href="../../../css/theme.css"/>
</head>
<body>
<div class="app">
    <!-- uiView: appState -->
    <div class="app-state" id="app-state">
        <div class="my-distributor">
            <div class="nav-tab">
                <a href="javascript:;" class="active">全部(12)</a>
                <a href="javascript:;">一级(12)</a>
                <a href="javascript:;">二级(12)</a>
            </div>
            <ul class="friend-list-item">
                <!-- ngRepeat: item in data.listData track by $index -->
                <li class="animate-repeat ng-scope">
                    <a href="#/friend/info&amp;244281" class="img-lay">
                        <img class="startImg loadSuccessImg" src="http://testimg.zhefengle.com/fc623adee3cd3063229a09113993cb05.jpg">
                    </a>
                    <div class="info-lay">
                        <div class="info">
                            <em class="ng-binding">
                                会员昵称
                            </em>
                            <p class="ng-binding">
                                会员等你:黄金
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ngIf: indexTab -->
</div>
<div class="fix-bottom fix-bottom-show">
    <div class="fix-bottom-main">
        <a href="#/index" class="active"><i class="iconzfl icon-shouyexuanzhong"></i><p>首页</p></a>
        <a href="#/type" class=""><i class="iconzfl icon-sousuolianxiang"></i><p>商品</p></a>
        <a href="#/circle/loveSunList" class="fix-love-lun-tab ">
            <div class="bottom-main">
                <i class="iconzfl icon-aishaiweidianji"></i>
                <span class="">0</span>
            </div>
            <p>我的</p>
        </a>
        <a href="#/user/info" class=""><i class="iconzfl icon-gerenzhongxin"></i><p>购物车</p></a>
    </div>
</div>
</body>
<script src="../../../js/weight/bodySize.js"></script>
</html>
