<div class="order-list creat-order-lay">
    <div class="creat-order-main">
        <div class="creat-order-top">
            <ul>
                <li>
                    <a href="javascript:;" ng-click="selectAddress()">
                        <div class="top-bg"></div>
                        <div class="top-info-lay">
                            <div class="top-info">
                              <span>{{createOrderData.address.consigneeName}}</span>
                              <span>{{createOrderData.address.consigneePhone}}</span>
                            </div>
                            <p>{{createOrderData.address.province + createOrderData.address.city + createOrderData.address.county + createOrderData.address.detailedAddress}}</p>
                        </div>
                        <i class="iconfont icon-qianjin right"></i>
                        <div class="top-bg bottom-bg"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="order-list order-list-right-info">
            <div class="creat-order-item">
                <ul>
                    <li ng-repeat="item in createOrderData.settle.goodsList track by $index" bindonce>
                        <div class="item-lay">
                            <a href="{{prefix}}detail.html?goodsId={{item.goodsId}}" class="item-img">
                                <div class="img-lay">
                                    <img lazy-img="{{item.image}}">
                                </div>
                            </a>
                            <div class="item-info">
                                <div class="item-title">
                                    {{item.title}}
                                </div>
                                <div class="bottom">
                                    <div class="left">
                                        <em>￥{{item.price}}</em>
                                        <s ng-if="item.price < item.originPrice">￥{{item.originPrice}}</s>
                                    </div>
                                    <div class="right">
                                        <span>
                                          数量:{{item.buyNumber}}件
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end ngRepeat: item in createDetail.shopOfOrderPOJOs -->
        </div>
        <div class="panel-list">
            <div class="section">
                <div class="wrapper">
                    <span class="w-3-5rem ta-r">总重量:</span>
                    <div class="right">￥{{createOrderData.settle.totalWeight}}</div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <span class="w-3-5rem ta-r">配送方式:</span>
                    <div class="right">快递￥{{createOrderData.settle.freight}}</div>
                </div>
            </div>
            <div class="section">
                <div class="wrapper">
                    <span class="w-3-5rem ta-r">用户留言:</span>
                    <div class="words-lay">
                        <input type="text" placeholder="选填,可填写您和买家达成一致要求" class="words" ng-model="leaveMessage">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fix-bottom fix-bottom-show">
        <div class="shop-balance shop-pay-info">
            <div class="fix-bm-al">
                <div class="shop-info">
                    合计:<em>￥{{createOrderData.settle.totalAmount}}</em>
                </div>
                <button class="submit" ng-click="goPay()">
                    结算
                </button>
            </div>
        </div>
   </div>
</div>
