<div class="logistic-lay">
    <div class="logistic-type-info">
        <p>下单时间:{{::logisticData.deliveryTime}}</p>
        <p>物流公司:{{::logisticData.deliveryCompany}}</p>
        <p>快递单号:{{::logisticData.deliveryNumber}}</p>
    </div>

    <div class="logistic-main">
        <div class="tit2">
            物流详情
        </div>
        <div class="logistic-info">
            <ul>
                <li ng-repeat="item in logisticData.records track by $index" bindonce>
                    <i></i>
                    <div class="logistic-item">
                        <p class="time">{{::item.time}}</p>
                        <p>{{::item.text}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
