<div class="htlist" bottom-scroll="load()">
    <ul>
        <li ng-repeat="item in listData track by $index" bindonce>
            <a href="{{prefix}}detail.html?goodsId={{item.goodsId}}" class="item ">
                <div class="list-out-lay">
                    <img lazy-img="{{item.image}}" class="ht-img">
                </div>
                <div class="main">
                    <h4 class="ng-binding">{{item.title}}</h4>
                    <div class="price"><span class="left">￥{{item.price}}</span><s ng-if="item.originPrice > item.price">￥{{item.originPrice}}</s></div>
                </div>
            </a>
        </li>
    </ul>
</div>