<div class="statr-info-lay">
  <div class="time">
    <span class="ng-binding">
      下单时间：{{orderDetail.createTime}}
    </span>
    <span class="start">
      {{!orderDetail.status ? '待支付' : ''}}
      {{orderDetail.status === 1 ? '待发货' : ''}}
      {{orderDetail.status === 2 ? '待收货' : ''}}
      {{orderDetail.status === 3 ? '已收货' : ''}}
      {{orderDetail.status === 4 ? '已退款' : ''}}
      {{orderDetail.status === 5 ? '已关闭' : ''}}
    </span>
  </div>
  <div class="user-info">
    <div class="info">
      <span class="left">
        {{orderDetail.consigneeName}}
      </span>
      <span class="right">
        {{orderDetail.consigneePhone}}
      </span>
    </div>
    <p>
        {{orderDetail.shippingAddress}}
    </p>
  </div>
  <div class="order-list">
    <ul>
      <li ng-repeat="item in orderDetail.goodsList track by $index" bindonce>
          <div class="item-lay">
              <a href="{{prefix}}detail.html?goodsId={{item.goodsId}}" class="item-img">
                  <div class="img-lay">
                      <img lazy-img="{{item.image}}">
                  </div>
              </a>
              <div class="item-info">
                  <div class="item-title">
                      {{item.title}}
                  </div>
                  <div class="bottom">
                      <div class="left">
                          <em>￥{{item.price}}</em>
                          <s ng-if="item.originPrice > item.price">￥{{item.originPrice}}</s>
                      </div>
                      <div class="right">
                      <span>
                        数量:{{item.buyNumber}}件
                      </span>
                      </div>
                  </div>
              </div>
          </div>
      </li>
    </ul>
  </div>
  <div class="panel-list">
    <div class="wrapper">
      总重量
      <span class="right">
        {{orderDetail.totalWeight}}KG
      </span>
    </div>
    <div class="wrapper">
      配送方式:
      <span class="right">
        快递￥{{orderDetail.freight}}
      </span>
    </div>
    <div class="wrapper">
      买家留言
      <span class="right">
          {{orderDetail.leaveMessage}}
      </span>
    </div>
  </div>
  <div class="shop-balance" >
      <span class="shop-one">
        合计:
        <span class="ng-binding">
          ￥{{orderDetail.totalAmount}}
        </span>
      </span>
      <div class="shop-option">
          <a href="javascript:;" class="submit" ng-click="goPay()" ng-if="!orderDetail.status">
              立刻付款
          </a>
          <a href="javascript:;" class="submit submit2" ng-click="confirmDelivery()" ng-if="orderDetail.status === 2">
              确认收货
          </a>
      </div>
  </div>
</div>
