<div class="examine-state" ng-if="!userInfoData.certifiedInfo || userInfoData.certifiedInfo.status == 9 || userInfoData.certifiedInfo.auditlog">
    您的资料还未完善或者审核失败，请继续完善您的信息！
</div>
<div class="examine-state in-examine" ng-if="!userInfoData.certifiedInfo.status">
    您的资料还在审核中，请耐心等待！
</div>
<div class="examine-state examine-success" ng-if="userInfoData.certifiedInfo.status == 1">
    您的资料已经审核通过，如有变更请重新更新资料提交审核！
</div>
<form name="setInfoForm" class="form-info-main set-info-main" ng-if="!userInfoData.certifiedInfo || userInfoData.certifiedInfo.status == 9 || userInfoData.certifiedInfo.auditlog">
    <div class="set-info-lay">
        <div class="add-title">
            身份信息（提现佣金必备）
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label">
                <span class="info-text-name">
                    手机:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="请输入手机号码" ng-model="getData.phone">
                </div>
            </div>
        </div>
        <div class="info-lay error-right">
            <label class="info-name error-label">
              <span class="info-text-name">
                姓名:
              </span>
                <div class="set-input">
                    <input type="text" name="userName" placeholder="姓名" ng-model="getData.name">
                </div>
            </label>
        </div>
        <div class="info-lay error-right">
            <label class="info-name error-label">
              <span class="info-text-name">
                身份证:
              </span>
                <div class="set-input">
                    <input type="text" name="userName" placeholder="身份证" ng-model="getData.idCarNo">
                </div>
            </label>
        </div>
        <div class="add-identity">
            <div class="identity-main">
                <div class="left" ngf-select="upload(1,$file)" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">
                    <a href="javascript:;">
                        <img ng-src="{{getData.idCarImage1}}">
                        <input class="file-img" type="file">
                    </a>
                    <p>
                        身份证正面
                    </p>
                </div>
                <div class="right" ngf-select="upload(2,$file)" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                     ngf-resize="{width: 100, height: 100}">
                    <a href="javascript:;">
                        <img ng-src="{{getData.idCarImage0}}">
                        <input class="file-img" type="file">
                    </a>
                    <p>
                        身份证背面
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="base-input-lay submit2">
        <button class="submit submit-margin" ng-click="submit()">
            保&nbsp;&nbsp;存
        </button>
    </div>
</form>
