<div class="examine-state">
    您的资料还未完善或者审核失败，请继续完善您的信息！
</div>
<div class="examine-state in-examine">
    您的资料还在审核中，请耐心等待！
</div>
<div class="examine-state examine-success">
    您的资料已经审核通过，如有变更请重新更新资料提交审核！
</div>
<form name="setInfoForm" class="form-info-main set-info-main">
    <div class="set-info-lay" style="position: relative;">
        <div class="info-lay info-name up-img-lay" id="up-img-lay">
            <span class="info-text-name">
              基本资料:
            </span>
            <div class="up-img" ngf-select="upload($file)" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                 ngf-resize="{width: 100, height: 100}">
                <div class="img">
                    <img ng-src="{{userInfoData.avatar}}">
                    <i class="iconfont icon-qianjin right"></i>
                </div>
            </div>
        </div>
        <div class="info-lay">
            <label class="info-name">
                <span class="info-text-name">
                  昵称:
                </span>
                <div class="set-input">
                    <input type="text" ng-model="userInfo.nickname">
                </div>
            </label>
        </div>
        <div class="info-lay">
            <div class="info-name info-radio">
                <span class="info-text-name">
                  性别:
                </span>
                <div class="set-input">
                    <label class="checkbox-four">
                        <input type="radio" value="2" name="sex" class="iconfont icon-xuanzhong" ng-model="userInfo.gender">
                        女
                    </label>
                    <label class="checkbox-four">
                        <input type="radio" value="1" name="sex" class="iconfont icon-xuanzhong" ng-model="userInfo.gender">
                        男
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="set-info-lay">
        <div class="add-title">
            身份信息（提现佣金必备）
        </div>
        <div class="info-lay error-right">
            <div class="info-name error-label">
                <span class="info-text-name">
                    手机:
                </span>
                <div class="set-input">
                    <input type="text" name="phone" placeholder="请输入手机号码">
                    <!--<div class="error ng-scope ng-hide" ng-show="addRess.phone.$error.phone &amp;&amp; addRess.formVaild">-->
                    <!--手机格式不正确-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="info-lay error-right">
            <label class="info-name error-label">
              <span class="info-text-name">
                姓名:
              </span>
                <div class="set-input">
                    <input type="text" name="userName" placeholder="姓名">
                </div>
            </label>
        </div>
        <div class="info-lay error-right">
            <label class="info-name error-label">
              <span class="info-text-name">
                身份证:
              </span>
                <div class="set-input">
                    <input type="text" name="userName" placeholder="身份证">
                </div>
            </label>
        </div>
        <div class="add-identity">
            <div class="identity-main">
                <div class="left">
                    <a href="javascript:;">
                        <img src="http://7u2fm4.com1.z0.glb.clouddn.com/492c98ab-6f9b-809a-7ce0-0ba127897611?imageView2/2/w/120/interlace/1/q/93">
                        <input class="file-img" type="file">
                    </a>
                    <p>
                        身份证正面
                    </p>
                </div>
                <div class="right">
                    <a href="javascript:;">
                        <img src="http://7u2fm4.com1.z0.glb.clouddn.com/492c98ab-6f9b-809a-7ce0-0ba127897611?imageView2/2/w/120/interlace/1/q/93">
                        <input class="file-img" type="file">
                    </a>
                    <p>
                        身份证背面
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="base-input-lay submit2">
        <button class="submit submit-margin">
            保&nbsp;&nbsp;存
        </button>
    </div>
</form>
