<form name="setInfoForm" class="form-info-main set-info-main">
    <div class="set-info-lay" style="position: relative;">
        <div class="info-lay info-name up-img-lay" id="up-img-lay">
            <span class="info-text-name">
              基本资料:
            </span>
            <div class="up-img" ngf-select="upload($file)" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                 ngf-resize="{width: 100, height: 100}">
                <div class="img">
                    <img ng-src="{{userInfoData.avatar}}">
                    <i class="iconfont icon-qianjin right"></i>
                </div>
            </div>
        </div>
        <div class="info-lay">
            <label class="info-name">
                <span class="info-text-name">
                  昵称:
                </span>
                <div class="set-input">
                    <input type="text" ng-model="userInfo.nickname">
                </div>
            </label>
        </div>
        <div class="info-lay">
            <div class="info-name info-radio">
                <span class="info-text-name">
                  性别:
                </span>
                <div class="set-input">
                    <label class="checkbox-four">
                        <input type="radio" value="2" name="sex" class="iconfont icon-xuanzhong" ng-model="userInfo.gender">
                        女
                    </label>
                    <label class="checkbox-four">
                        <input type="radio" value="1" name="sex" class="iconfont icon-xuanzhong" ng-model="userInfo.gender">
                        男
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="base-input-lay submit2">
        <button class="submit submit-margin" ng-click="submit()">
            保&nbsp;&nbsp;存
        </button>
    </div>
</form>
