<div class="nav-tab">
    <a href="javascript:;" style="width:25%;" class="active">全部</a>
    <a href="javascript:;" style="width:25%;">已通过</a>
    <a href="javascript:;" style="width:25%;">未通过</a>
    <a href="javascript:;" style="width:25%;">审核中</a>
</div>
<div class="record-list">
    <ul>
        <li ng-repeat="item in listData track by $index" bindonce>
            <div class="left">
                <h4 class="record-tit" ng-class="{'error-font' : item.status === 2,'underway-font' : !item.status}">{{item.status === 1 ? '提现成功' : ''}}{{item.status === 2 ? '提现审核失败' : ''}}{{!item.status ? '提现审核中' : ''}}</h4>
                <p>{{item.status === 2 ? item.auditlog : '佣金余额￥' + item.balance}}</p>
            </div>
            <div class="right">
                <p>{{::item.applyTime}}</p>
                <h3 class="record-num">-￥{{::item.amount}}</h3>
            </div>
        </li>
    </ul>
</div>

