<div class="app-state" id="app-state">
    <div class="distributor-list">
        <div class="examine-state">
            可提现日期：每周周一的08：00-20:00
        </div>

        <form class="draw-form">
            <div class="sum">
                <label>
                <span>
                    提现金额：
                </span>
                    <input name="cash" ng-model="getData.amount">
                </label>
            </div>
            <!--<div class="tit2">-->
                <!--物流详情-->
            <!--</div>-->
            <!--<div class="">-->
                <!--<label>-->
                    <!--<i></i>-->
                    <!--<div>-->
                        <!--<p>选择微信账户进行收款</p>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</div>-->
            <div class="base-input-lay submit2">
                <button class="submit submit-margin" ng-click="submit()">
                    提现
                </button>
            </div>
        </form>

     </div>
</div>

