<div class="app-state" id="app-state">
    <div class="distributor-list">
        <div class="examine-state">
            可提现日期：每周周一的08：00-20:00
        </div>

        <form class="draw-form" name="drawForm" form-validate>
            <div class="sum">
                <label>
                    <span>
                        提现金额：
                    </span>
                    <input name="cash" ng-model="getData.amount" validate-type="number" validate='{"required":"请输入金额","number":"输入金额不对"}' required placeholder="您最大可提现金额为{{userInfoData.commission}}" ng-disabled="userInfoData.commission === '0.00'">
                </label>
            </div>
            <div class="pay-lay">
                <div class="tit2">提现至</div>
                <ul>
                    <li>
                        <label class="checkbox-four">
                            <i class="iconfont icon-weixin"></i>
                            <div class="item">
                                <div class="item-title">微信</div>
                                <p>选择微信账户进行收款</p>
                            </div>
                            <input class="iconfont icon-gouxuanjian" type="radio" name="pay" value="wx" checked>
                        </label>
                    </li>
                </ul>
            </div>

            <div class="base-input-lay submit2">
                <button class="submit submit-margin" form-submit="submit()" ng-disabled="userInfoData.commission === '0.00'">
                    提现
                </button>
            </div>
        </form>

     </div>
</div>

