
<div class="my-distributor">
    <div class="nav-tab">
        <a href="javascript:;" ng-class="{'active' : getData.level === item.level}" ng-repeat="item in navTab track by $index" bindonce ng-click="navTabClick(item.level)">{{::item.name}}({{::distributorsData.startData[item.level]}})</a>
    </div>
    <ul class="friend-list-item" bottom-scroll="load()">
        <!-- ngRepeat: item in data.listData track by $index -->
        <li class="animate-repeat" ng-repeat="item in distributorsData.listData track by $index" bindonce>
            <a href="javascript:;" class="img-lay">
                <img lazy-img="{{::item.avatar}}">
            </a>
            <div class="info-lay">
                <div class="info">
                    <em>
                        {{::item.nickname}}
                    </em>
                    <p>
                        会员等你:{{::item.level}}
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>
